blinker==1.7.0
click==8.1.7
colorama==0.4.6
Flask==3.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
pyrqlite @ git+https://github.com/rqlite/pyrqlite.git@b7f53d10fba39cdc779877f5fb85915ff2209db7
Werkzeug==3.0.1
