<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart City Database Query Interface</title>
    <style>
        #output {
            width: 100%;
            height: 150px;
            border: 1px solid #000;
            margin-top: 20px;
            padding: 10px;
            overflow: auto;
        }
        #query, #overallQueryTime, #value, #time{
            border: 1px solid #000;
            padding: 10px;
            margin-top: 10px;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

    <h1>Smart City</h1>

    <form id="queryForm">
        <div>
            <input type="button" value="Get Latest Entry" onclick="searchWhole()">
        </div>
        <br>
        <br>
        <div>
            <select id="searchType">
                <option value="searchName">Search for Name</option>
                <option value="ownQuery">Own Query</option>
            </select>
        </div>
        <div>
            <input type="text" id="queryInput" placeholder="Enter your query or value...">
        </div>
        <div>
            <input type="button" value="Search" onclick="">
        </div>
    </form>

    <br>

    <div id="query">The SQL query will be displayed here...</div>

    <div id="overallQueryTime">Overall Query Time will be displayed here...</div>

    <div id="value">The value of the sensor will be displayed here...</div>

    <div id="time">The time of the measurement will be displayed here...</div>

    <div id="output">Query results will appear here...</div>

    <script>
        function searchWhole() {
            query = "search_whole"
            startQuery(query)
        }

        function startQuery(query) {
            const queryStartTime = Date.now()

            const warningThreshold = 5000; //5 Second Threshold
            const warningTimeout = setTimeout(() => {
                window.alert("Query might take longer than expected. Please wait.")
            }, warningThreshold);

            const cancelThreshold = 20000; // 20 Second Threshold
            const cancelTimeout = setTimeout(() => {
                window.alert("Error: Please reload site and try again.");
            }, cancelThreshold);

            fetch(`/${encodeURIComponent(query)}`)
                .then(response => {
                    clearTimeout(warningTimeout);
                    clearTimeout(cancelTimeout)
                    return response.json();
                })
                .then(data => {
                    const overallQueryTime = Date.now() - queryStartTime;
                    const result = data.result[0];
                    const output = JSON.stringify(result, null, 2);
                    document.getElementById('output').textContent = output;
                    document.getElementById('value').textContent = result.value;
                    document.getElementById('time').textContent = result.timestamp;
                    document.getElementById('overallQueryTime').textContent = `Overall Query time was: ${overallQueryTime} miliseconds`;
                    document.getElementById('query').textContent = `The SQL query was: ${query}`;
                })
                .catch(error => {
                    clearTimeout(warningTimeout);
                    clearTimeout(cancelTimeout);
                    window.alert("Warning: An error occured. No new information was retrieved.Please reload site and try again");
                    console.error('Error:', error)
                });
        }
    </script>

</body>
</html>
